*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.header{
    padding-top: 87px;
    padding-left:120px;
    padding-right:120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid silver;
}
nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: #3A3A3A;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
}
nav  a{
    text-decoration: none;
}
nav  h5{
    color: #3A3A3A;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 1.2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
nav h5{
    width:auto;
    position: relative;
    left:0;
    border:1px solid silver;
   }
.camera{
    display: flex;
 
}
.camera-title{
    color: #3A3A3A;

font-family: Poppins;
font-size: 3.2rem;
font-style: normal;
font-weight: 700;
margin-top:145px;
}
.leka{
    color: #3A3A3A;

font-family: Poppins;

font-style: normal;
font-weight: 600;
line-height: normal;
}
.btn-primary{
    border-radius: 41px;
background: #E02C6D;
color:#FFFFFF;
padding:10px;
margin-top:15px;
}
.camera-img{
    margin-top:80px;
    margin-left: 133px;
}
.camera-img img{
    width:100%;
}
.section1{
    display: flex;
   gap:40px;
   flex-wrap: wrap;
   justify-content: center;
   justify-content: space-evenly;
   margin-top: 65px;
   margin-left: 40px;
   margin-bottom: 80px;

}
.section2 h3{
    text-align: center;
    color: #3A3A3A;

border-radius: 5px;
font-family: Poppins;
font-size: 1.7rem;
font-style: normal;
font-weight: 600;

}
.grid-item1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin-top: 20px;
}
.img1 img{
    width:100%;
  }
  .section3 img{
    
  }
  .last-para{
    color: #6C6C6C;
    padding-top: 10px;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;


font-style: normal;
font-weight: 700;

  }
  .section3{
    display: flex;
    margin-top: 100px;
  }
  .section3-content{
    padding: 40px;
  }
  .last-btn{
    background: #E02C6D;
    display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
margin-top: 10px;
color:#FFF;
  }
  .footer-jala{
    background-color: navy;
    text-align: center;
    color: #FFF;
    margin-top: 20px;
   padding-bottom: 50px;
   width: 100%;

  }
  .footer-title{
    padding-top: 50px;
  }
@media screen and (max-width:576px){
    .header{
        padding-top: 87px;
        padding-left:10px;
        padding-right:10px;
    }
    .camera{
        flex-direction: column-reverse;

    }
    
    nav{
        display: block;
    }
    nav a{
        visibility: hidden;
    }
  nav h5{
    text-align: center;
  }
  .grid-item1{

    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,1fr);
    
  }
 
.section3{
    flex-direction: column;
}
footer{
    height:auto;
}
    
}
